/node_modules

.tsc
**/*.snap

/build
/dist

.DS_Store

.gitignore
.npmignore
.editorconfig
.prettierignore
.stylelintrc
.huskyrc
.czrc
.npmrc
.eslintignore
.eslintrc
.gitlab-ci.yml
.lintstagedrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
README.md
package.json
/public
/docker

.idea
.vscode

**/*.svg
**/*.png
**/*.temp

